* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid black; */
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  padding: 10px 40px;
}

.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_header_title {
  font-size: 20px;
}
.container_header {
  padding: 0 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

.container_header_nav_menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.container_header_nav_menu_item_link {
  color: #0a0b0d;
  font-size: 14px;
  font-weight: 600;
}
.container_header_button_sign_up {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #1b9e4b;
  color: white;
}
.container_main {
  margin-top: 10px;
  padding: 0 30px;
}

.container_main_sectionBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_main_sectionBanner_items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.container_main_sectionBanner_items_head_top {
  font-size: 40px;
  color: #1f2228;
}
.container_main_sectionBanner_items_head_bottom {
  font-size: 40px;
  color: #a855f7;
}
.container_main_sectionBanner_items_info {
  width: 364px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.container_main_sectionBanner_items_button {
  padding: 12px 40px;
  margin-top: 20px;
  background-color: #1b9e4b;
  color: white;
  border-radius: 4px;
  border: none;
}
.container_main_sectionBanner_img {
  max-width: 674px;
  max-height: 449px;
}
